
/* orange ff8800 
    
blue 00BBF9*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #fee440;

}


h1{
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #f15bb5;
}

.flex{
    display: flex;
}

.row.show{
    display: block;
}

.row.hidden{
    display: none;
}

#app{
    max-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    width: 1000px;
    margin: auto;
}

.insert{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    width: 300px;
    height: 30px;
    margin-right: 20px;
    padding: 5px 10px;
    border: 2px solid #00F5D4;
    border-radius: 5px;
    color:#9B5DE5;
    transition: background .3s;

}

input::placeholder{
    color:#9B5DE5;
}

input:focus{
    outline: none;
}

button{
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #00F5D4;
    border-radius: 5px;
    cursor: pointer;
    color:#9B5DE5;
    transition: background .3s;
}

input:hover,
button:hover{
    background-color: rgba(241, 91, 181, .2);
}

/* LIST */
.scrollable{
    flex-grow: 1;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 2px solid #9B5DE5;
    border-radius: 8px;
}

.list{
    padding: 20px;
    background-color: white;
}


/* row */
.list .row{
    height: 35px;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
    margin-top: 2px;
    padding: 0 5px;
    border-bottom: 1px solid #00F5D4;
    border-radius: 8px 8px 0 0;
    transition: background .3s;
}

.list .row:hover{
    /* background-color: #fee440; */
    background-color: rgba(254, 228, 64, .5);
}

.element{
    color: #00BBF9;
}

.row>i{
    font-size: 20px;
    color: #f15bb5;
    cursor: pointer;
    transition: transform .3s;
}

.row>i:hover{
    transform: scale(1.3);
}

.element{
    cursor: pointer;
}

.element i{
    font-size: 20px;
    color: #f15bb5;
}

i.opacity-show{
    opacity: 1;
}

i.opacity-hidden{
    opacity: 0;
}
