<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Todo list Vue</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>My todo List...</h1>
            <div class="insert">
                <input v-model='message' 
                type="text" 
                placeholder="Add a new element in the list"
                @keyup.13='addItem()'
                >
                <button
                @click='addItem()'
                >ADD</button>
            </div>
            <div class="scrollable">
                <div class="list">
                    <div v-for='(item, index) in toDoList' class="row flex">
                        <p class="element">{{ toDoList[index] }}</p>
                        <i 
                        @click='removeItem(index)'
                        class="fas fa-times"></i>                
                    </div>
    
                    <div 
                    :class="[toDoList == '' ? 'show' : 'hidden', 'row'] "
                    
                    >
                        <p class="element">Your list is emptry</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>